/* <------ GLOBAL FORMAT ------> */
*{
    color: #E8EDDF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

/*modifying scrollbar*/
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track-piece{ /*portion of scrollbar that the thumb is not over*/
    background-color: #333533;
}

::-webkit-scrollbar-thumb{ /*shows current position in scroll*/
    background: #F5CB5C;
}

/* end modifying scrollbar*/

/* <---- Main Container Start -----> */

#main-container{
    display: flex;
    flex-direction: row;
}

/* <---- Main Container End ------> */

/* <------ LEFT PANEL ELEMENTS START --------->*/
#left-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    background-color: #333533;
}

#search-icon {
    padding: 2% 2%;
}

#search-bar-container {
    display: flex;
    flex-direction: row;
    background-color: #333533;
    padding: 10% 10% 5% 2%;
}

#search-bar[type=text] {
    width: 90%;
    height: 80%;
    border: 2px;
    border-radius: 4px;
    padding-left: 0.5rem;
    transform: scaleY(1);
    transform-origin: center;
    transition: transform 0.26s ease;
    color: #CFDBD5;
    background-color: #464946;
}

#search-bar[type=text]:focus{
    transform: scaleY(1.2);
}
  

#tab-container {
    display: list-item;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #333533;
}

.tab-button {
    margin: 0px;
    text-align: left;
    width: 100%;
    height: 1.75rem;
    border-style: hidden;
    color: #CFDBD5;
    background-color: #333533;
    transition: font-size 0.35s;
}

.tab-button:hover {
    font-size: 14px;
    color: white;
    background-color: #464946;
}

#add-button-container{
    background-color: #333533;
    padding: 5% 0%;
}

#add-program-button {
    border-radius: 4px;
    color: #E8EDDF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #464946;
    border-style: hidden;
    padding: 8px;
    font-size: 15px;
    transition: width 0.25s ease-in-out;
    width: 8rem;
}

#add-program-button:hover {
    width: 9rem;
    font-size: 16px;
    background-color: #505350;
    cursor: pointer;
}

/* <------ LEFT PANEL ELEMENTS END --------->*/


/* <--------- Content Panel Start ----------> */

#content-panel {
    display: flex;
    flex-direction: column;
    color: #242423;
    background-color: #3C3E3C;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content-wrapper {
    background-color: #464946;
}

.program-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em;
}

#title {
    font-weight: normal;
    color: #E8EDDF;
}

#program-icon {
    padding: 0.5rem;
    margin: 0 1em;
    height: 2rem;
    width: 2rem;
    align-self: center;
    background-color: #F5CB5C;
    border-radius: 10%;
}

#launch-button {
    float: left;
    text-align: left;
    border-style: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 8px;
    color: #E8EDDF;
    background-image: linear-gradient(to bottom right, #F0B719, #D39E0D);
}

#launch-button:hover {
    background-image: linear-gradient(to bottom right, #F2BD2C, #E6AD0F);
    cursor: pointer;
}

#edit-btn {
    float: left;
    background-color: #333533;
    width: 5rem;
    padding: 8px;
    margin-left: 1rem;
    color: #E8EDDF;
    border-radius: 3px;
    border-style: none;
    font-size: 16px;
    transition: max-height 0.5s ease-in-out;
}


#edit-btn:hover {
    background-color: #3C3E3C;
    cursor: pointer;
}


#program-button-container{
    float: left;
}

#main-content{
    display: flex;
    flex-direction: column;
}

.program-body {
    padding: 1rem;
}

#description {
    text-align: left;
    color: #E8EDDF;
}

/* Edit Program Form Styling */
#edit-form-wrapper {
    padding: 5% 10%;
    text-align: left;
    background-color: #5A5E5A;
    border-radius: 10px;
    transition: max-height 0.5s ease-in-out;
}


#edit-form-wrapper input,textarea {
    margin: .25em 0 1em 0;
    width: 96%;
    padding: 8px;
    border-radius: 6px;
    border-style: none;
    background-color: #646864;
}

#path-input {
    background-color: #464946;
    transition: font-size 0.35s ease-in-out;
}

#path-input:hover {
    font-size: 16px;
    background-color: #505350;
    cursor: pointer;
}

#edit-submit-btn {
    background-color: #464946;
    width: 5rem;
    padding: 8px;
    border-radius: 3px;
    border-style: none;
    font-size: 16px;
    transition: font-size 0.35s ease-in-out;
}

#edit-submit-btn:hover {
    font-size: 17px;
    color: white;
    background-color: #505350;
    cursor: pointer;
}

textarea {
    resize: none;
    overflow: auto;
    height: 10rem;
}

::selection {
    color: #CFDBD5;
    background-color: #242423;
  }

/* <--------- Content Panel End ------------> */
