/* <------ GLOBAL FORMAT ------> */
body{
    margin: 0;
    text-align: center;
}


/* <------ LEFT PANEL ELEMENTS START --------->*/
#left-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#search-bar-container {
    background-color: lightgreen;
    padding: 25px 0px;
}

#tab-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0px;
    height:500px;
    width:250px; 
    background-color: lightgray;
}

.tab-button {
    text-align: left;
    border-style: hidden;
    background-color: lightskyblue;
}

#add-button-container{

    background-color: lightsalmon;
}

#add-program-button {
    border-radius: 4px; 
    background-color: lightseagreen;
    border-style: hidden;
    padding: 0.5em 0.5em;
}


/* <------ LEFT PANEL ELEMENTS END --------->*/