/* <------ GLOBAL FORMAT ------> */
body{
    margin: 0;
    padding: 0;
    text-align: center;
}

/*modifying scrollbar*/
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track-piece{ /*portion of scrollbar that the thumb is not over*/
    background-color: rebeccapurple;
}

::-webkit-scrollbar-thumb{ /*shows current position in scroll*/
    background: yellow;
}

/* end modifying scrollbar*/

/* <---- Main Container Start -----> */

#main-container{
    display: flex;
    flex-direction: row;
}

/* <---- Main Container End ------> */

/* <------ LEFT PANEL ELEMENTS START --------->*/
#left-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: peachpuff;
}

#search-bar-container {
    background-color: lightgreen;
    padding: 10% 10%;
}

#search-bar[type=text] {
    width: 80%;
    border: 2px solid red;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    background-color: wheat;
}

#search-bar[type=text]:focus{
    width: 90%;
}
  

#tab-container {
    display: list-item;
    padding: 0.5em 0px;
    width: 250px; 
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lightgray;
}

.tab-button {
    text-align: left;
    width: 100%;
    height: 100px;
    border-style: hidden;
    background-color: lightskyblue;
}

#add-button-container{
    background-color: lightsalmon;
}

#add-program-button {
    border-radius: 4px; 
    background-color: lightseagreen;
    border-style: hidden;
    padding: 0.5em 0.5em;
}


/* <------ LEFT PANEL ELEMENTS END --------->*/


/* <--------- Content Panel Start ----------> */

#content-panel {
    display: flex;
    flex-direction: column;
    background-color: tomato;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.program-header {
    display: flex;
    flex-direction: row;
    background-color: peru;
    padding: 0.5em;
}

#program-icon {
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    align-self: center;
    background-color: thistle;
    border-radius: 10%;
}

#launch-button {
    background-color: khaki;
    border-radius: 4px;
}

.program-body {
    background-color: powderblue;
    padding: 1rem;
}

.program-body-content {
    background-color: silver;
}

/* <--------- Content Panel End ------------> */
